
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f2f5f7;
    color: #333;
}


.header-nav {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

    .navbar .logo h1 {
        font-size: 1.8rem;
        color: #0e2431;
    }

/* Sidebar */
.sidebar {
    position: fixed;
    top: 50px; 
    left: 0;
    width: 250px;
    background-color: #ffffff;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    height: calc(100% - 70px);
}

    .sidebar ul {
        list-style: none;
    }

        .sidebar ul li {
            margin-bottom: 20px;
        }

            .sidebar ul li a {
                text-decoration: none;
                color: #0e2431;
                font-weight: 500;
                font-size: 1.1rem;
                display: block;
                padding: 10px 15px;
                border-radius: 4px;
            }

                .sidebar ul li a:hover {
                    background-color: #f2f5f7;
                    font-weight: bolder;
                }

main {
    margin-left: 270px;
    padding: 20px;
    padding-top: 90px;
}

.content h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.2rem;
    color: #666;
}
